<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />  
<title>广东省美术教育协会</title>
<style type="text/css">
<!--
.STYLE1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
}
.STYLE2 {
	font-family: "宋体";
	font-size: 14px;
	color: #999999;
}
.STYLE3 {
	font-size: 16px;
	font-family: "宋体";
}

.STYLE5 {font-size: 18px; font-family: "宋体";}
.STYLE6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.STYLE7 {
	font-family: "宋体";
	font-size: 16px;
	color: #999999;
}
-->
</style>
</head>

<body>
<div align="center" class="STYLE1">
  <p>蓝天模考</p>
</div>
<div align="center" class="STYLE2">2018 广东省美术术科一模成绩查询</div>
<p>&nbsp;</p>
<form action="{% url 'srsys:result' %}" method="post">
  {% csrf_token %}
  <label>
  <div align="center">
    <p><span class="STYLE3">考生姓名</span>
      <input name="InputName" type="text" class="STYLE7" id="InputName" value="请输入考生姓名" maxlength="7"
	   onfocus='if(this.value=="请输入考生姓名"){this.value="";}; '
	   onblur='if(this.value==""){this.value="请输入考生姓名";};'>
    </p>
  </p>
  </div>
  </label>
  <div align="center">
    <p><span class="STYLE3">准考证号</span>
        <input name="InputStuNum" type="text" class="STYLE7" id="InputStuNum" value="请输入十位考生号" maxlength="10"
		onfocus='if(this.value=="请输入十位考生号"){this.value="";}; '
		onblur='if(this.value==""){this.value="请输入十位考生号";};'>
    </p>
  </div>
  </label>
  <p>&nbsp;</p>
  <div align="center">
    <input type="submit" class="STYLE6" value="                查询                "  style="background:#7DB522;color:white " />
  </div>
</form>
    <p align="center" class="STYLE3">{{ ErrorMessage }}</p>
</body>

</html>
